.box {
    border-radius: 10px;
}

.categoryImage {
    border-radius: 9999px;
    height: 250px;
    width: 250px;
    @extend .shimmer;
}

.name {
    margin-top: 20px;
    height: 25px;
    border-radius: 10px;
    width: 70px;
    @extend .shimmer;
}

.description {
    height: 80px;
    border-radius: 10px;
    margin-top: 10px;
    @extend .shimmer;
}

@import '../../../assets/styles/utils.scss';
