.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.title {
    font-weight: 700;
    font-size: var(--page-title-font-size);
    margin: 0;
    padding: 0;
}
