.box {
    color: var(--black);
    padding: 10px;
    background: var(--white);
    border-radius: 10px;
}
.title {
    font-weight: 700;
}

.body {
    font-weight: 400;
    font-size: 14px;
    opacity: 0.7;
    line-height: 2;
    margin-top: 10px;
    text-align: justify;
}
