.box {
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
    svg {
        height: 300px;
        width: 300px;
    }
}

.title {
    font-weight: 700;
}
.description {
    font-weight: 400;
    font-size: 14px;
}

.here {
    font-weight: 900;
}
